body{
    text-align: center;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px; 
    height: 80vh;
    margin: 0 auto;
    border: 1px solid black;
}

/* GRID BOX */
.grid-item {
    width: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
}

