body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
h1 {
    text-align: center;
    color: #1E90FF;
}
.powerBtns {
    text-align: center;
    margin-top: 20px;
}
button{
    padding: 10px 20px;
    margin: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #40E0D0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}
button:hover {
    background-color: #1E90FF;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 650px; 
    height: 650px;
    margin: 0 auto;
    border: 1px solid black;
    cursor: pointer;
}
/* GRID BOX */
.grid-item {
    width: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        max-width: 100%; 
        height: auto; 
    }

    .grid-item {
        width: calc(100% / 4); 
        height: calc(100% / 4); /* Adjusting to 4 rows for smaller screens */
    }
    }

