body{
    text-align: center;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 650px; 
    height: 650px;
    margin: 0 auto;
    border: 1px solid black;
}
#generateGridBtn{
    padding: 20px;
    margin-bottom: 20px;;
}
/* GRID BOX */
.grid-item {
    width: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid black;
}

